<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="fileLayoutPattern"
			  value="%-20(%d{yyyyMMdd_HH:mm:ss.SSS} [%logger{10}][%thread] [%-4relative])
                [%X{hostName} %X{requestId} %X{processId} %X{service.timing} ][%level] %msg%n" />
	<property name="consoleLayoutPattern"
			  value="%-20(%d{yyyyMMdd_HH:mm:ss.SSS} [%logger][%thread] [%-4relative])
                [%X{hostName} %X{requestId} %X{processId} %X{service.timing} ][%level] %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss} %level] [%thread] [%logger] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${catalina.home}/logs/product-wms-log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 200MB, keep 60 days worth of history,
				but at most 20GB -->
			<maxFileSize>200MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>25GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss} %level] [%thread] [%logger] - %msg%n</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<logger name="cn.eeka.commons.aspect">
		<level value="info" />
	</logger>

	<logger name="org.mybatis.spring.SqlSessionUtils">
		<level value="info" />
	</logger>

	<logger name="druid.sql.Statement">
		<level value="info" />
	</logger>

	<logger name="org.redisson">
		<level value="info" />
	</logger>

	<logger name="org.apache.shiro.web.servlet.SimpleCookie">
		<level value="info" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.scheduling.quartz">
		<level value="info"></level>
	</logger>

	<logger name="org.springframework.scheduling">
		<level value="info"></level>
	</logger>

	<logger name="org.springframework.web">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.aop.framework">
		<level value="info" />
	</logger>

	<logger name="org.springframework.jdbc.datasource">
		<level value="info" />
	</logger>

	<logger name="org.springframework.transaction.annotation">
		<level value="info" />
	</logger>

	<logger name="org.quartz">
		<level value="warn"></level>
	</logger>

	<logger name="java.sql.*">
		<level value="debug" />
	</logger>

	<logger name="com.ibatis.*">
		<level value="debug" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>